@media (max-width: 640px) {
    .Name
    {
        background-color:orange;
    }

    .Buttons-bootcamp{
        flex-direction: column;
    }

    .Edit{
        margin-right: em !important ;
    }

    .Photo{
        flex-direction: column;
    }


  }