.RangeSlider{
    
    -webkit-appearance: none; 
    background-color: #ff6800;
    width: 65vw; 
    height: .9375rem; 
    border-radius: .625rem; 
    padding: .625rem;
}

.image{
    display: flex;
    width: 80vw; 
    padding-left:307px;
    margin-top: 2.1875rem;
    
}

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 60%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #369644;
    border-radius: 2px;
    border: 1px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #369644;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #369644;
    border-radius: 2px;
    border: 1px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #369644;
    border: 1px solid #18D501;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-fill-upper {
    background: #369644;
    border: 1px solid #18D501;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #369644;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #369644;
  }


  @media only screen and (min-width: 1501px) and (max-width: 1551px){
    .image{
        
        padding-left:310px;
        height: 110px;       
        
    }    

    input[type=range]{
        width: 62vw; 
        height: 35px; 
        padding: 10px;
    }
}


  @media only screen and (min-width: 1490px) and (max-width: 1500px){
    .image{
        
        padding-left:230px;
        height: 100px;       
        
    }    

    input[type=range]{
        width: 65vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1459px) and (max-width: 1474px){
    .image{
        
        padding-left:260px;
        height: 100px;       
        
    }    

    input[type=range]{
        width: 66vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1300px) and (max-width: 1458px){
    .image{
        
        padding-left:260px;
        height: 100px;       
        
    }    

    input[type=range]{
        width: 62vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1150px) and (max-width: 1299px){
    .image{
        
        padding-left:240px;
        height: 90px;       
        
    }    

    input[type=range]{
        width: 60vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1149px){
    .image{
        
        padding-left:200px;
        height: 70px;       
        
    } 
    
    input[type=range]{
        width: 63vw; 
        height: 35px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 1163px) and (max-width: 1180px){
    .image{
        height: 90px;
        padding-left:245px;
    }

    input[type=range]{
        width: 60vw; 
        height: 35px; 
        padding: 10px;
    }

}



@media only screen and (min-width: 1279px) and (max-width: 1285px){
    .image{
        height: 100px;
        padding-left:253px;
    }

    input[type=range]{
        width: 62vw; 
        height: 35px; 
        padding: 10px;
    }

}

@media only screen and (min-width: 1210px) and (max-width: 1278px){
    .image{
        height: 100px;
        padding-left:243px;
    }

    input[type=range]{
        width: 62vw; 
        height: 35px; 
        padding: 10px;
    }

}

@media only screen and (min-width: 911px) and (max-width: 999px){
    .image{
        height: 60px;
        padding-left:178px;
    }

    input[type=range]{
        width: 63vw; 
        height: 30px; 
        
        padding: 7px;
    }
}


@media only screen and (min-width: 811px) and (max-width: 910px){
    .image{
        height: 50px;
        padding-left:160px;
    }

    input[type=range]{
        width: 65vw; 
        height: 30px; 
        
        padding: 7px;
    }
}


@media only screen and (min-width: 800px) and (max-width: 811px){
    .image{
        height: 57px;
        padding-left:110px;
    }

    input[type=range]{
        width: 70vw; 
        height: 35px; 
        
        padding: 10px;
    }
}


@media only screen and (min-width: 767px) and (max-width: 799px){
    .image{
        height: 60px;
        padding-left:146px;
    }

    input[type=range]{
        width: 64vw; 
        height: 33px; 
        
        padding: 8px;
    }
}


@media only screen and (min-width: 700px) and (max-width: 766px){
    .image{
        height: 60px;
        padding-left:140px;
    }

    input[type=range]{
        width: 65vw; 
        height: 35px;         
        padding: 10px;
    }
}

@media only screen and (min-width: 559px) and (max-width: 680px){
    .image{
        height: 60px;
        padding-left:110px;
    }

    input[type=range]{
        width: 64vw; 
        height: 30px; 
        
        padding: 7px;
    }
}



@media only screen and (min-width: 681px) and (max-width: 699px){
    .image{
        height: 50px;
        padding-left:136px;
    }

    input[type=range]{
        width: 64vw; 
        height: 25px; 
        
        padding: 8px;
    }
}

@media only screen and (min-width: 539px) and (max-width: 680px){
    .image{
        height: 47px;
        padding-left:107px;
    }

    input[type=range]{
        width: 63vw; 
        height: 28px; 
        
        padding: 7px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 538px){
    .image{
        height: 43px;
        padding-left:32px;
    }

    input[type=range]{
        width: 80vw; 
        height: 25px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 419px){
    .image{
        height: 40px;
        padding-left:75px;
    }

    input[type=range]{
        width: 70vw; 
        height: 20px; 
        
        padding: 8px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 358px){
    .image{
        height: 43px;
        padding-left:32px;
    }

    input[type=range]{
        width: 80vw; 
        height: 25px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 359px) and (max-width: 370px){
    .image{
        height: 35px;
        padding-left:68px;
    }

    input[type=range]{
        width: 68vw; 
        height: 20px; 
        
        padding: 6px;
    }
}

@media only screen and (min-width: 371px) and (max-width: 388px){
    .image{
        height: 28px;
        padding-left:75px;
    }

    input[type=range]{
        width: 60vw; 
        height: 6px; 
        
        padding: 0px;
    }
}

@media only screen and (min-width: 389px) and (max-width: 399px){
    .image{
        height: 28px;
        padding-left:70px;
    }

    input[type=range]{
        width: 63vw; 
        height: 9px; 
        
        padding: 0px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 250px){
    .image{
        height: 18px;
        padding-left:10px;
    }

    input[type=range]{
        width: 80vw; 
        height: 8px; 
        
        padding: 0px;
    }
   
}

@media only screen and (min-width: 251px) and (max-width: 280px){
    .image{
        height: 18px;
        padding-left:55px;
    }

    input[type=range]{
        width: 65vw; 
        height: 8px; 
        
        padding: 0px;
    }

    
}