.RangeSlider{
    
    -webkit-appearance: none; 
    background-color: #ff6800;
    width: 65vw; 
    height: .9375rem; 
    border-radius: .625rem; 
    padding: .625rem;
}

.image{
    display: flex;
    width: 82vw; 
    padding-left:205px;
    margin-top: 2.1875rem;
    
}

input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 67%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #369644;
    border-radius: 2px;
    border: 1px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #369644;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #002200;
    background: #369644;
    border-radius: 2px;
    border: 1px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #369644;
    border: 1px solid #18D501;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-fill-upper {
    background: #369644;
    border: 1px solid #18D501;
    border-radius: 4px;
    box-shadow: 1px 1px 1px #002200;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 3px #00AA00;
    border: 2px solid #83E584;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #439643;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #369644;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #369644;
  }

  @media only screen and (min-width: 1440px) and (max-width: 1460px){
    .image{
        
        padding-left:230px;
        height: 90px;       
        
    }    

    input[type=range]{
        width: 67vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1460px) and (max-width: 1500px){
    .image{
        
        padding-left:260px;
        height: 100px;       
        
    }    

    input[type=range]{
        width: 66vw; 
        height: 35px; 
        padding: 10px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1025px){
    .image{
        
        padding-left:150px;
        height: 79px;       
        
    } 
    
    input[type=range]{
        width: 70vw; 
        height: 35px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 1279px) and (max-width: 1285px){
    .image{
        height: 88px;
        padding-left:190px;
    }

    input[type=range]{
        width: 70vw; 
        height: 35px; 
        
        padding: 10px;
    }

}

@media only screen and (min-width: 811px) and (max-width: 915px){
    .image{
        height: 50px;
        padding-left:160px;
    }

    input[type=range]{
        width: 65vw; 
        height: 30px; 
        
        padding: 7px;
    }
}


@media only screen and (min-width: 800px) and (max-width: 810px){
    .image{
        height: 57px;
        padding-left:110px;
    }

    input[type=range]{
        width: 70vw; 
        height: 35px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 811px) and (max-width: 821px){
    .image{
        height: 60px;
        padding-left:140px;
    }

    input[type=range]{
        width: 68vw; 
        height: 30px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 767px) and (max-width: 810px){
    .image{
        height: 60px;
        padding-left:135px;
    }

    input[type=range]{
        width: 66vw; 
        height: 33px; 
        
        padding: 8px;
    }
}


@media only screen and (min-width: 700px) and (max-width: 766px){
    .image{
        height: 60px;
        padding-left:110px;
    }

    input[type=range]{
        width: 70vw; 
        height: 35px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 559px) and (max-width: 680px){
    .image{
        height: 57px;
        padding-left:75px;
    }

    input[type=range]{
        width: 72vw; 
        height: 30px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 681px) and (max-width: 699px){
    .image{
        height: 50px;
        padding-left:82px;
    }

    input[type=range]{
        width: 72vw; 
        height: 30px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 550px){
    .image{
        height: 43px;
        padding-left:32px;
    }

    input[type=range]{
        width: 80vw; 
        height: 25px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 419px){
    .image{
        height: 40px;
        padding-left:75px;
    }

    input[type=range]{
        width: 70vw; 
        height: 20px; 
        
        padding: 8px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 358px){
    .image{
        height: 43px;
        padding-left:32px;
    }

    input[type=range]{
        width: 80vw; 
        height: 25px; 
        
        padding: 10px;
    }
}

@media only screen and (min-width: 359px) and (max-width: 370px){
    .image{
        height: 30px;
        padding-left:60px;
    }

    input[type=range]{
        width: 70vw; 
        height: 25px; 
        
        padding: 7px;
    }
}

@media only screen and (min-width: 371px) and (max-width: 388px){
    .image{
        height: 28px;
        padding-left:60px;
    }

    input[type=range]{
        width: 68vw; 
        height: 10px; 
        
        padding: 0px;
    }
}

@media only screen and (min-width: 389px) and (max-width: 399px){
    .image{
        height: 28px;
        padding-left:68px;
    }

    input[type=range]{
        width: 65vw; 
        height: 9px; 
        
        padding: 0px;
    }
}
@media only screen and (min-width: 200px) and (max-width: 298px){
    .image{
        height: 18px;
        padding-left:10px;
    }

    input[type=range]{
        width: 80vw; 
        height: 8px; 
        
        padding: 0px;
    }

    
}